/* scss/Typography/_h1.scss */
/* scss/Typography/_paragraphtext.scss */
/* scss/Typography/_ProfileSetupHeading.scss */
.heading_psetup {
  color: white;
  font-weight: 600;
  padding: 1.2rem 0;
}

/* scss/buttons/_normalbutton.scss */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}

.btn__label {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.btn-normal {
  background-color: #ed2265;
  padding: 0.5rem 3.5rem;
}

/* scss/buttons/_largebutton.scss */
.btn-large {
  padding: 1.5rem 3.5rem;
  background-color: #ed2265;
}

/* scss/buttons/_FacebookLoginButton.scss */
.btn-fb {
  background-color: #4267B2;
  padding: 1rem 3.5rem;
}

.btn-fb .btn__label {
  text-transform: uppercase;
}

/* scss/buttons/_InstagramLoginButton.scss */
.btn-instagram {
  background-color: #ed2265;
  padding: 1rem 3.5rem;
}

.btn-instagram .btn__label {
  text-transform: uppercase;
}

/* scss/buttons/_smallbutton.scss */
.btn-small {
  background-color: #ed2265;
  padding: 0.5rem 1rem;
}

.btn-small .btn__label {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* scss/buttons/_smallbuttonalternate.scss */
.alternate {
  background-color: #1E757E;
}

/* scss/navigation/_navigationbarfooter.scss */
.app-navbar {
  display: flex;
  justify-content: space-around;
  padding: 0.7rem 1rem;
  background-color: #FAFAFA;
  border-top: 1px solid #dbdbdb;
}

.app-navbar__btn {
  border: none;
  background-color: transparent;
}

/* scss/modules/_ProfileSetupContainer.scss */
.profile-question {
  background-color: white;
  border-radius: 2.5rem;
  box-shadow: #1E757E 4px 8px 6px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.input-list {
  margin: 0;
  padding: 0;
}

.profile-question__heading {
  color: #1E757E;
  margin: 0;
  margin-bottom: 1rem;
}

.profile-question .input-list__item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.radio-label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  color: #1E757E;
}

/* scss/modules/_DialogContainer.scss */
.dialog {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.dialog__message {
  font-family: 'Open Sans',Helvetice,Arial,sans-serif;
  text-align: center;
  color: #333;
}

/* scss/modules/_LinktLogo.scss */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* scss/modules/_RecommendedItem.scss */
.love-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr;
  column-gap: 2rem;
  max-width: 40rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.love-card__img {
  max-width: 8rem;
  max-height: 8rem;
  border: 1pt solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e4e4e4;
}

.love-card__img img {
  width: 100%;
}

.love-card__info {
  margin-bottom: 1rem;
}

.love-card__action {
  grid-column: 2;
}

.love-card__info__text {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.love-card__info__name {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 900;
  color: #3ba3a8;
  text-transform: capitalize;
}

.love-card__info__age {
  font-weight: 600;
  text-transform: capitalize;
}

.love-card__info__tagline {
  font-weight: 600;
  text-transform: capitalize;
}

/* scss/modules/_RecommendedHeader.scss */
.page-recommended__header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  border-bottom: 1pt solid #ccc;
  padding-top: 0.5rem;
}

.page-recommended__header__heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  color: #1E757E;
}

.logo-no-text {
  position: relative;
  top: -2pt;
  left: -3pt;
  transform: rotate(28deg);
}

.logo-no-text img {
  height: 2rem;
}

/* scss/pages/_StartScreen.scss */
.page-grid {
  display: grid;
  padding: 0 3rem;
}

.page-start {
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 1fr;
  row-gap: 1fr;
  align-items: flex-end;
  min-height: 100vh;
  padding: 0 3rem;
}

.bg-colour {
  background: #3ba3a8;
  background: -webkit-gradient(linear, 100% 0, 0 0, color-stop(0.48, #3ba3a8), to(#1e757e));
  background: -webkit-linear-gradient(180deg, #3ba3a8 48%, #1e757e 100%);
  background: -moz-linear-gradient(180deg, #3ba3a8 48%, #1e757e 100%);
  background: -o-linear-gradient(180deg, #3ba3a8 48%, #1e757e 100%);
  background: linear-gradient(180deg, #3ba3a8 48%, #1e757e 100%);
}

.logo {
  width: 30vw;
  max-width: 20rem;
  margin-bottom: 2rem;
  align-self: end;
  justify-self: center;
}

.login_buttons {
  align-self: start;
  justify-self: center;
}

.grid-space {
  padding: 0.5rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  html {
    font-size: 0.8rem;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .page-start {
    width: 50vw;
    max-width: 60em;
    margin: 0 auto;
  }
}
/* scss/readme/_settings.scss */
/* scss/readme/_sidebars.scss */

/*# sourceMappingURL=main.css.map */
