<!-- components/modules/ProfileSetupContainer.html -->

<div class="profile-question">
    <h3 class="profile-question__heading">Do you live an active lifestyle?</h3>
    <div class="profile-question__input">
        <ul class="input-list">
            <li class="input-list__item">

                <label class="radio-label">Yes</label>

                <input type="radio" 
                       name="activelifestyle" 
                       class="question-radio" 
                       value="yes">
            </li>
            <li class="input-list__item">

                <label class="radio-label">Somewhat</label>

                <input type="radio" 
                       name="activelifestyle" 
                       class="input-radio" 
                       value="somewhat">
            </li>
            <li class="input-list__item">

                <label class="radio-label">No</label>

                <input type="radio" name="activelifestyle" class="question-radio" value="no">
            </li>
        </ul>
    </div>
</div>