/* scss/navigation/_navigationbarfooter.scss */

.app-navbar {
	display: flex;
	justify-content: space-around;
	padding: 0.7rem 1rem;
	background-color: #FAFAFA;
	border-top: 1px solid rgb(219, 219, 219);
}

.app-navbar__btn {
	border: none;
	background-color: transparent;
}