    <div class="page-grid page-start bg-colour">

        <header class="page__row logo">
            <div class="svg-container">
                <object type="image/svg+xml" data="img/logo.svg" width="100%" height="100%" class="svg-content">
                </object>
            </div>
        </header>

        <div class="page__row login_buttons">

            <div class="grid-space">
                <button class="btn btn-fb">
                    <span class="btn__label">Connect with Facebook</span>
                </button>
            </div>


            <div class="grid-space">
                <button class="btn btn-instagram">
                    <span class="btn__label">Connect with Instagram</span>
                </button>
            </div>
        </div>

    </div>

